# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# Environment variables
.env*.local

# Common ignores
node_modules
.next/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage
*.lcov
.nyc_output

# Grunt
.grunt

# Bower
bower_components

# node-waf
.lock-wscript

# Compiled addons
build/Release

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# TypeScript
*.tsbuildinfo

# npm cache
.npm

# eslint cache
.eslintcache

# stylelint cache
.stylelintcache

# REPL history
.node_repl_history

# npm pack
*.tgz

# Yarn
.yarn-integrity

# dotenv
.env
.env.*
!.env.example

# parcel
.cache
.parcel-cache

# Next.js
.next
out

# Nuxt
.nuxt
dist

# Gatsby
.cache/

# vuepress
.vuepress/dist
.temp

# Sveltekit
.svelte-kit/

# vitepress
**/.vitepress/dist
**/.vitepress/cache

# Docusaurus
.docusaurus

# Serverless
.serverless/

# FuseBox
.fusebox/

# DynamoDB
.dynamodb/

# Firebase
.firebase/

# TernJS
.tern-port

# VSCode test
.vscode-test

# yarn v3
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*